*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}
h1{
    font-family: 'Bungee', cursive;
}
h2,h3{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
a{
    text-decoration: none;
}
.mainHeader{
    width: 100%;
    height: 750px;
    background:url(../img/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  
}
.headerConteiner{
    width: 1200px;
    margin:auto;

   
}
.headerTop{
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
   
}
.ulTopLeft {
    list-style-type: none;
    display: inline-block;
}
.ulTopLeft li{
    display: inline-block;
    line-height:50px;
    border-right: 1px solid #596275;
    padding:0 10px;
  }
.ulTopLeft li:first-child{
      padding-left: 0px;
  }
  .ulTopLeft li:last-child{
      border-right: 0px;

  }
.ulTopLeft li a{
 
    color:#303952;
    font-weight: bold;
    
}
.ulTopLeft li a:hover{
    color: #596275;
}
.TopRight{
    position: relative;
    display:flex;
    height: 50px;
    align-items: center;
    
}
.TopContactLogo{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
   
}

.ContactText{

    line-height: 30px;
    font-weight: bold;
  
}

.textHeader{
    margin-top: 259px;
    color: #fff;
    
   
  
}
.textHeader h1{
    line-height:80px;
    font-size: 40px;
    text-shadow:5px 5px 10px #000;
    
}
.textHeader h2{
    line-height:60px;
    font-size: 40px;
    text-shadow:5px 5px 10px #000;
    
}
.textHeader p{
    line-height:40px;
    font-size: 20px;
    text-shadow:1px 1px 1px #000;
    display:inline-block;
    background: rgba(0, 0,0, 0.5);
}
.headerButton{
    margin-top: 60px;
    display: inline-block;
      
}


.headerButton a:last-child{
    margin-left: 40px; 
   
}
.headerButton a{
   
    justify-content: center;
    border-radius: 5px;
    line-height: 50px;
    display: inline-block;
    color: #fff;
    padding: 0 10px;
    opacity: 0.8;
    background:#10ac84;  
    border: 1px solid #10ac84;
    text-shadow: 2px 2px 5px #000;
      
}
.headerButton a:hover{
    background:#02523e;  
    border: 1px solid #02523e;
}
/*nav başlangıcı*/
nav{
    width:100%;
    height: 80px;
    position:absolute;
    background:#000;
    opacity: 0.7;
    top:50px;
}
.navContent{
    width: 1200px;
    height: 80px;
    position: relative;
    margin:auto;
    display:flex;

    justify-content: space-between;

}
.navContent .navLogo{
    font-family: 'Bungee', cursive;
    font-size:30px;
    color:#fff;
    text-transform: uppercase;
    line-height: 80px;
    display:inline-block;
    

}
.navUl{
   
    height: 80px;
    position: relative;
    display: flex;
    line-height: 80px;
    
}
.navUl li{
    padding-left:15px;
    list-style-type: none;
    display:inline-block;
}
.navUl li a{
    text-decoration:none;
    color: #dfe4ea;
    
}
.navUl li a:hover{
    color:#fff;
}
/*section başlangıcı*/

.aboutSec{
width:1200px;
height:600px;
position: relative;

margin: auto;
}
.aboutSec .titleAbout{
    width: 100%;
    position: absolute;
    margin-top: 50px;
    display: inline-block;

}
.aboutSec .titleAbout h1{
   text-align: center;
   font-size: 20px;
   
}
.aboutSec .titleAbout h3{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
  

 }
 .mainAbout{
     width: 100%;
     position: absolute;
     margin-top: 175px;
     display:flex;
 }
.mainAbout img{
    width: 400px;
    height: 400px;
    border:1px solid #000;
    padding: 5px;
    

}
.textAbout{
    height: 400px;
    margin: auto;
}
.iconAbout{
    text-align: center;
    margin-bottom:20px;
}
.iconAbout i{
    width: 70px;
    height: 70px;
    border-radius:50%;
    background: #10ac84;
    font-size: 50px;
    line-height: 70px;
       
}
.textAbout p{
    width:700px;
    padding-bottom:10px ;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size:17px;
    line-height: 20px;
   
}
.menuSection{
width: 100%;
position: relative;
margin-top:50px;
background: #000;

}
.menuContent{
width:1200px;
height:650px;
position: relative;
margin: auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.menuContent img{
    width: 400;
    height: 300;
    position: relative;
}
.menuContent img:hover{
    transform: scale(1.02); 
	transition:all.5s ease-in-out;
}
.menuText{
    width: 900px;
    height: 300px;
    border:2px solid #fff;
    background:rgba(255,255,255, 0.4); 
    position: absolute;
    margin-top: 170px;
    text-align: center;
    
    
}
.menuText h1{
    font-size:25px;
    color: #000;
    line-height: 200px;
  
}
.menuText a{
    background: #10ac84;
    border: 1px solid #10ac84;
    padding: 20px;
    color:#fff;
    text-shadow: 2px 2px 5px #000;
}
.menuText a:hover{
    background:#02523e;  
   
}
.chefSection{
    width:1200px;
    height:600px;
    position: relative;
    margin: auto;
    display: flex;
    margin-top: 50px;
    
}
.chefSection .chefContent{
    width: 1200px;
    margin-top:60px;
    padding:50px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
.titleChef{
    width: 1200px;
    height: 100px;
    position: absolute;
    text-align: center;
}
.titleChef h1{
    line-height: 50px;
    font-size: 22px;
    padding:20px 0px;
}
.chefSection .chefContent .imgChef{
    width: 350px;
    height: 460px;
    display: flex;
    margin-left: 20px;
    justify-content: center;
    top: 20px;
    position: relative;
    flex-direction: column;
   
    
}
.chefSection .chefContent .imgChef img{
   padding: 0px 0 40px 0;
    height: 350px;
    padding-bottom: 0;
    position: relative;
    margin-bottom:20px;

}
.chefSection .chefContent .imgChef img:hover{
    transform: scale(1.02); 
	transition:all.5s ease-in-out;
}
.chefSection .chefContent .imgChef h2{
    font-size: 23px;
    font-family: cursive;
    text-align: center;
    padding:10px 0;
    text-shadow: 1px 1px 3px #000;
    border-radius: 10px;
    box-shadow:1px 1px 2px #ccc;
}
.endSection{
    width: 100%;
    margin-top:100px;
    position: relative;
}
.endSection .mekanContent{
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
}
.endSection .secMekan{
    width:600px;
    height: 600px;
    background: rgba(0, 0,0, 0.6);
    position: absolute;
    margin-left: 100px;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    
   
}
.endSection .secMekan h1{
    font-size: 25px;
    text-align: center;
}
.endSection .secMekan h3{
    font-size: 25px;
    line-height: 50px;
   
}
.endSection .secMekan p{
  line-height:32px;
  width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.endSection .secMekan p:last-child{
   
    border-bottom: 2px solid #fff;
}
/*footer */
.footer{
    width: 100%;
    height: 300px;
    background: url(../img/footer-bg.jpg);
    position: relative;
    
}
.footerContent{
    width: 1200px;
    height: 300px;
    margin: auto;
    position:relative;
    display: flex;
    
    align-items: center;
    
}
.footerContent .footerLogo{
    font-family: 'Pacifico', cursive;
    font-size:60px;
    color:#fff;
    text-transform: uppercase;
    line-height: 80px;
    display:inline-block;
}
.footerContent .SosyalLogo{
    font-size:60px;
    color:rgba(29,161,242,1.00);
}
.footerContent .SosyalLogo i:first-child{
    color:rgb(177, 14, 35);
}
.footerContent .SosyalLogo i:last-child{
    color:tomato;
}
.footerContent .SosyalLogo i:hover{
    transform: scale(1.1); 
	transition:all.5s ease-in-out;
}
.ftrContact{
    color: #fff;
    font-size: 17px;
    line-height: 40px;
    margin-left: 50px;  
}
.ftrContact h1{
   border-bottom: 3px solid #10ac84;
   text-align: center;
}
.aboneContact{
    color: #fff;
    font-size: 17px;
    line-height:30px;
    margin-left: 50px;
}
.aboneContact h1{
    border-bottom: 3px solid #10ac84;
    text-align: center;
 }
.aboneContact input{
     width:350px;
     height: 40px;
     margin-top: 20px;
     border-radius: 5px;
 }
